

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card">
    <p>Select:</p>
    <form>
      <input #amount type="text" min="1" id="value_currency"  (mouseleave)="amounts(amount.value)" required>
      <select #currency_1 name="currency" id="currency1" (mouseleave)="change_base(currency_1.value)">
        <option value="USD">USD</option>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
        <option value="AED">AED</option>
        <option value="PLN">PLN</option>
      </select>
      <p>To</p>
      <select #currency_2 name="currency" id="country1" (mouseleave)="to_country(currency_2.value)">
        <option value="USD">USD</option>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
        <option value="AED">AED</option>
        <option value="PLN">PLN</option>
      </select>
      <button (click)="convert()"> Submit</button>
      <div class="result-container">
        <p>{{cont1}} <span> = </span>{{result}} {{cont2}}</p>


      </div>
    </form>
  </div>

</div>


